<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Image Colorization – IO</title>

    <link href="../static/_base.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body> 

    <main data-barba = "wrapper">
      <article data-barba = "container" data-title="image colorization">
        <header>
          <img src="../static/logo_black.svg" alt="IO Logo">
          <h1>io</h1>
        </header>
    
        <a href="./superres.html" class="previous">
          <span>Previous</span>
        </a>
    
        <a href="/" class="next">
          <span>Next</span>
        </a>
    
        <div class="photos">
          <img src="../static/colorizer.png">
          <div class="colorizer-div">
            <div class = "main-wrapper">
              {% if not results %}
              <div class="wrapper">
                <form target="_self" method="post" enctype="multipart/form-data">
                  <input type="file" class="file" name="file" accept="image/png, image/jpg, image/jpeg">
                  <input type="submit" class="submitbtn" />
                </form>
                <iframe name="frame" style="display:none;"></iframe>
              </div>
              {% else %}  
                <div class="main-container" id="main-container">
                  <div id="sub-cont">
                    <div class="image-container">
                
                        <img class="image-before slider-image" src= '{{ results.input }}' alt="color photo" />
                        <img class="image-after slider-image" src= '{{ results.output }}' alt="black and white" />
                
                    </div>
                    <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider" />
                    <div class="slider-line" aria-hidden="true"></div>
                    <div class="slider-button" aria-hidden="true">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none"></rect>
                        <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="16"></line>
                        <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="16"></line>
                        <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="16"></polyline>
                        <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="16"></line>
                        <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="16"></polyline>
                      </svg>
                    </div>
                  </div>
                </div>
            {% endif %}
            </div>
          </div>
        </div>
      </article>
    </main>

    <script src="../static/barba.js"></script>
    <script src="../static/barba-prefetch.js"></script>
    <script src="../static/gsap.js"></script>
    <script src="../static/slider.js"></script>
    <script src="../static/scripts.js"></script>
    
  </body>
</html>