<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Home – IO</title>

    <link href="../static/_base.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body> 
    
    <main data-barba="wrapper">
      <article data-barba="container" data-title="home">
        <header>
          <img src="../static/logo_black.svg" alt="IO Logo">
          <h1>io</h1>
        </header>
    
        <a href="/colorizer.html" class="previous">
          <span>Previous</span>
        </a>
    
        <a href="/superres.html" class="next">
          <span>Next</span>
        </a>
    
        <div class="photos">
          <img src="../static/main1.png">
          <img src="../static/main2.png">
          <img src="../static/main3.png">
          <img src="../static/main4.png">
        </div>
      </article>
    </main>

    <script src="../static/barba.js"></script>
    <script src="../static/barba-prefetch.js"></script>
    <script src="../static/gsap.js"></script>
    <script src="../static/scripts.js"></script>

  </body>
</html>